*,
*::before,
*::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body{
    
    font-family: Arial, Helvetica, sans-serif;
}
/* navbar section  */
.navbar{
    padding: 10px 160px 2px 160px;
    background-color: white;
    position: fixed;
    height: 62px;
    display: flex;
    margin: 0px 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.searchbar{
    background-color: #EDF3f8;
    padding: 4px 4px 4px 10px;
    height: 2.4rem;
    display: flex;
    column-gap: 9px;
    border-radius: 5px;
    margin-right: 5rem;
}

.searchbar input{
    align-items: center;
    width: 15rem;
    border: none;
    background-color: #EDF3f8;
}
/* icons in the navbar */
.nav-icons{
    display: flex;
    flex: 1;
    gap: 30px;
    
    
}
.icon-position{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
}
.icon-position a{
    text-decoration: none;
    text-align: center;
}

.icon-position img{
    height: 1.5rem;
}
.icon-position p{
    font-size: .75rem;
    color: rgb(99, 98, 98);
}

.icon-position a:hover p{
    color: black !important;
}
.icon-position a:hover img{
    filter: brightness(0.2) saturate(1.5);
}

.icon-position a:hover img.no-hover{
    filter: none;
}

/* Flexbox to align p and svg in the same line */
.text-icon-wrapper {
    display: flex;
    align-items: center; 
    column-gap: 6px; 
}

.text-icon-wrapper p {
    margin: 0; 
}

.text-icon-wrapper img {
    width: 16px;
    height: 16px; 
}

/* main container bergins */
.container{
    background-color: rgba(240, 234, 234, 0.752);
    flex: 1;
    margin-top: 61px;
}

.grid-containers{
    display: grid;
    grid-template-areas: "left main right";
    grid-template-columns: 1fr 3fr  1fr;
    gap: 20px;
    height: 100vh;
    margin: 2rem 10rem 0rem 10rem;
}

.left-sidebar{
    grid-area:left;
    /* background-color: #b78989; */
    border-radius: 8px;
}

.main-content{
    grid-area:main;
    background-color: lightblue;
    border-radius: 8px;
}

.right-sidebar{
    grid-area: right;
    background-color:lightcoral;
    border-radius: 8px;
}

/* leftbar contents */
/* 1. profilecard  */
.profile-card{
    height: 16rem;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid lightgray;
    position: relative;
}

.background{
    background-size: cover;
    /* width: 100%; */
    height: 4.3rem;
    background-repeat: no-repeat;
    display: block;
    border-radius: 8px 8px 0 0;
}

.user-image{
    width: 72px;
    border-radius: 50%;
    position: absolute;
    top: 2.15rem;
    left: 1.15rem;
    border: 2px solid white;
}

.profile-details{
    
    margin-left: 1.15rem;
}
.profile-details-position{
    margin-top: 40px;
}
.profile-details h3{
    font-size: 1.3rem;
    font-weight:bold;
    
}
.profile-details p{
    font-size: 0.8rem;
    margin-top: 5px;
}
.work-detail {
    display: flex; 
    align-items: center;                       
    gap: 7px;  
                   
}
.work-detail-position{
    margin: 10px 15px 10px 0px;  
}
.work-detail img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.work-detail span{
    font-weight: bold;
    font-size:12px;
    line-height: 16px;
    color: rgb(71, 71, 71);
}

.left-card2{
    margin-top: 10px;
    width: 100%;
    height: 3.5rem;
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.rejoin:hover{
    color: rgb(92, 92, 211);
}

.left-card3{
    height: 3.8rem;
}

.left-card3 p{
    margin-top: 10px;
    margin-left: 1.15rem;
    font-size: 0.7rem;
    font-weight: 600;
}

.left-card3 p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.left-card4{
    height: 6.3rem;
}
.left-card4>div{
    margin-top: .5rem;
    margin-left: 1.15rem;
    padding: 3px;
}
.left-card4>div>span:hover{
    text-decoration: underline;
    cursor: pointer;
}