*,
*::before,
*::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body{
    
    font-family: Arial, Helvetica, sans-serif;
}
/* navbar section  */
.navbar{
    padding: 10px 160px 2px 160px;
    background-color: white;
    position: fixed;
    height: 62px;
    display: flex;
    margin: 0px 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.searchbar{
    background-color: #EDF3f8;
    padding: 4px 4px 4px 10px;
    height: 2.4rem;
    display: flex;
    column-gap: 9px;
    border-radius: 5px;
    margin-right: 5rem;
}

.searchbar input{
    align-items: center;
    width: 15rem;
    border: none;
    background-color: #EDF3f8;
}
/* icons in the navbar */
.nav-icons{
    display: flex;
    flex: 1;
    gap: 30px;
    
    
}
.icon-position{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
}
.icon-position a{
    text-decoration: none;
    text-align: center;
}

.icon-position img{
    height: 1.5rem;
}
.icon-position p{
    font-size: .75rem;
    color: rgb(99, 98, 98);
}

.icon-position a:hover p{
    color: black !important;
}
.icon-position a:hover img{
    filter: brightness(0.2) saturate(1.5);
}

.icon-position a:hover img.no-hover{
    filter: none;
}

/* Flexbox to align p and svg in the same line */
.text-icon-wrapper {
    display: flex;
    align-items: center; 
    column-gap: 6px; 
}

.text-icon-wrapper p {
    margin: 0; 
}

.text-icon-wrapper img {
    width: 16px;
    height: 16px; 
}

/* main container bergins */
.container{
    background-color: rgba(240, 234, 234, 0.752);
    flex: 1;
    margin-top: 61px;
    overflow: auto;
}

.grid-containers{
    display: grid;
    grid-template-areas: "left main right";
    grid-template-columns: 1fr 2fr  1fr;
    gap: 20px;
    height: 100vh;
    margin: 2rem 10rem 0rem 10rem;

}

.left-sidebar{
    grid-area:left;
    /* background-color: #b78989; */
    border-radius: 8px;
}

.main-content{
    grid-area:main;
    /* background-color: lightblue; */
    border-radius: 8px;
}

.right-sidebar{
    grid-area: right;
    /* background-color:lightcoral; */
    border-radius: 8px;
}

/* leftbar contents */
/* 1. profilecard  */
.profile-card{
    height: fit-content;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid lightgray;
    position: relative;    
      
}

.background{
    background-size: cover;
    width: 100%;
    height: 4.3rem;
    background-repeat: no-repeat;
    display: block;
    border-radius: 8px 8px 0 0;
}

.user-image{
    width: 72px;
    border-radius: 50%;
    position: absolute;
    top: 2.15rem;
    left: 1.15rem;
    border: 2px solid white;
}

.profile-details{
    margin-left: 1.15rem;
}
.profile-details-position{
    margin-top: 40px;
}
.profile-details h3{
    font-size: 1.3rem;
    font-weight:bold;
    
}
.profile-details p{
    font-size: 0.8rem;
    margin-top: 5px;
}
.work-detail {
    display: flex; 
    align-items: center;                       
    gap: 7px;  
                   
}
.work-detail-position{
    margin: 10px 15px 10px 0px;  
}
.work-detail img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.work-detail span{
    font-weight: bold;
    font-size:12px;
    line-height: 16px;
    color: rgb(71, 71, 71);
}

.left-card2{
    padding: 8px;
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.rejoin:hover{
    color: rgb(92, 92, 211);
}

.left-card3{
    height: 3.8rem;
}

.left-card3 p{
    margin-top: 10px;
    margin-left: 1.15rem;
    font-size: 0.7rem;
    font-weight: 600;
}

.left-card3 p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.left-card4{
    height: 6.3rem;
}
.left-card4>div{
    margin-top: .5rem;
    margin-left: 1.15rem;
    padding: 3px;
}
.left-card4>div>span:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* end of the left sidebar section  */

/* main content  */
/* write a post section  */
.write-post{
    height: 7.25rem;
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 8px;
}
.write-post img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.main-actions{
    display: flex;
    column-gap: 3.5rem;
    padding: 5px;
    margin-left: 2rem;
    margin-right: 2rem;
    /* margin-bottom: 2.2rem; */
    
}
.main-actions>.work-detail{
    padding: 0.2rem;
}
.main-actions .work-detail img{
    width: 2rem;
}

.write-post>.work-detail>span input{
    width: 27rem;
    padding: 14px;
    border-radius: 22px;
    border: 1px solid lightgrey;
}

.write-post>.work-detail>span input::placeholder {
    font-weight: 600;
    color: grey;
}

.write-post>.work-detail>span input:hover{
    background-color: rgba(235, 233, 233, 0.627);
}
.main-actions>.work-detail a:hover{
    background-color: rgba(238, 236, 236, 0.667);
}
/* end of section for write a post  */
/* line section */
.line-with-text a{
    margin: 2px auto;
    display: flex; 
    align-items: center; 
    gap: 7px; 
}

.line {
    flex: 1; 
    border: none;
    border-top: 1px solid #b1afaf;
}

.text {
    font-weight: normal; 
    margin: 0; 
    font-size: 0.8rem;
    color: #b1afaf;
}

.icon {
    width: 16px;
    height: 16px;
    margin-left: 0px;
}
/* end of line section */
.post-card{
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
/* posted by user details */
.post-user-details{
    margin-top: 6px;
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.post-user-details h6{
    font-size: 14px;
    color: rgb(44, 44, 44);
}

.post-user-details>img{
    width: 48px;
    border-radius: 50%;
    margin-left: 15px;
}
.post-user-details>span p{
    margin-top: 4px;
    font-size: 12px;
    color: rgba(57, 55, 55, 0.833);
}

.content-description p{
    font-size: 14px;
    font-weight: normal;
    padding: 12px;
}

.reactions{
    margin-top: 4px;
    margin-left: 12px;
    position: relative;
    display: flex;
    
}

.reactions .img2{
    position: absolute;
    left: 10px;  
}
.reactions .img3{
    position: absolute;
    left: 18px;  
}
.reactions span{
    margin-left: 24px;
    font-size: 14px;
    color: rgb(71, 70, 70);
}

.reactions>.comments{
    position: absolute;
    right: 20px;
}
.line1{
    width: 95%; /* Adjust the width to your preference */
    border: none; /* Remove default border styling */
    border-top: 1px solid #6f6e6e; /* Add your own custom line style */
    margin: 10px auto;
}

.reaction-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.reaction-button>div{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px;
    flex: 1;
    justify-content: center;
}
.reaction-button>div:hover{
    background-color: #b1afaf;
    border-radius: 3px;
}

.reaction-button img{
    width: 26px;
}

/* popup reactions inside the like reaction button  */
.reaction-button .hover-icons{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 15px;
    top: -150%; 
    left: -4%;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    padding: 9px;
    border-radius: 6px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    display: none;

}
.reaction-button:hover .hover-icons {
    display:flex;
   
}

@keyframes wave {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.1) rotate(5deg); }
    50% { transform: scale(1.1) rotate(-5deg); }
    75% { transform: scale(1.1) rotate(3deg); }
    100% { transform: scale(1.1) rotate(0deg); }
}

.hover-icons .pop-up-container{
    animation: wave 0.5s ease-out forwards

}
.pop-up-container:hover .pop-up {
    transform: scale(1.1);
}
/* end of main content part  */
/* right sidebar */
.news-module{
    background-color: white;
    border-radius: 8px;
    padding-bottom: 14px;
}
.right-section1{
    display: flex;
    justify-content: space-between;
    padding: 9px;
}
.right-section1 h2{
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:500;
}
.right-section1 img{
    width: 14px;
}

.subheadings{
    padding: 5px 5px 10px 10px
} 

.subheader h3{
    color: #6f6e6e;
    font-size: 1rem;
   padding-left: 10px;
}
.subheader h6{
    font-size: 0.9rem;
    margin-top: 8px;
    color: #383636;
}

.subheader .work-detail{
    margin-top: 4px;
    color: #7a7a7a;
    font-size: 12px;
}

.subheader>.subheadings:hover{
    background-color: #cecdcd88;
}
/* .show-button{
    display: flex;
} */
.show-button{
    margin-left: 3px;
}
.show-button button{
    border: none;
    background-color: white;
    padding: 7px;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #4f4d4d;
    font-weight: bold;
    margin-bottom: 3px;
    
}
.show-button>button>img{
    width: 12px;
}

.show-button button:hover{
    background-color: #cecdcd88;
    border-radius: 6px;
}
.puzzles div{
    margin-top: 5px;
}
.puzzles a{  
    
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 10px;
}

.puzzles p{
    color: #4f4d4d;
    font-size: 0.75rem;
}

.puzzles>div:hover{
    background-color: #cecdcd88;
  
}

.premium-ad-card{
    margin-top: 8px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 9px;
}
.sticky-adcard{
    position: sticky;
    top: 35px;
}

.premium-ad-card .work-detail{
    justify-content: flex-end;
    margin-right: 8px;  
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.premium-ad-card .text{
    margin:8px 2px 8px 15px;
    color: #5a5454da;
    font-family: Arial, Helvetica, sans-serif;
}

.img-logo{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.user-img{
    border-radius: 50%;
    width: 78px;
}

.linkedin-logo{
    width: 78px;
}
.tagline{
    text-align: center;
    margin-top: 15px;
    color: #4f4d4d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 8px 5px;
}
.try-for-free{
    background-color: white;
    color: #0073b1;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 18px;
    border: 1px solid  #0073b1;
    border-radius: 18px;
}

.try-linkedin-card{
    display: flex;
    background-color: white;
    padding: 2px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
}
.sticky-trycard{
    position: sticky;
    top: 300px;
}

.try-linkedin-card>.work-detail{
    padding: 7px;
    
}


.try-linkedin-card>.work-detail>span{
    background-color:rgba(250, 167, 167, 0.655) ;
    font-size: 12px;
    padding: 4px;
    font-weight: 300;
    border-radius: 4px;
}
.try-linkedin-card>.work-detail>p{
    font-size: 15px;
    font-weight: 500;
    /* font-weight: bold; */
    color: #6f6e6e;
}
.linkedin-details{
    margin: .6rem .8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 6px; */
    align-items: center;
    /* padding: 16px; */

}

.linkedin-details>a>span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.sticky-linkedin-detail{
    position: sticky;
    top: 350px;
}

.linkedin-actions{
    display: flex;
    align-items: center;
    font-size: 12px;
    width: fit-content;
    text-wrap: nowrap;
    
    
}

.linkedin-actions{
    color: #6f6e6e;
}


.linkedin-actions span:hover{
    color: #0073b1;
    text-decoration: underline;
    
}

.linkedinfooter{
    margin-left: 2rem;
    margin-top: 10px;
}

.sticky-linkedinfooter{
    position: sticky;
    top: 440px;
}
.linkedinfooter span{
    font-size: 12px;
}